.header {
    background-color: #fff;
    font-size: calc(10px + 2vmin);
    color: #292c32;
}

.input {
    margin: 32px 25px 0 0;
    padding: 10px 10px 10px 0;
    border-radius: 10px;
    background-color: #3c3e44;
    font-size: 20px;
}
.container {
    max-width: 1046px;
    margin: 0 auto;
    padding-bottom: 20px;
}