.wrapper {
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px;

  .flex_wrapper {
    display: flex;
    justify-content: space-between;
  }

  .charactersCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}

.button {
  display: inline-block;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background: #c9cecd;
}

.selected {
  color: salmon;
}
