.wrapper {
  min-height: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 20px;

  .flex_wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
  }

  .blockCards {
    color: white;

    .charactersCards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 20px;
    }
  }
}

.button {
  display: inline-block;
  cursor: pointer;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  background: #a47ce3;
}

.selected {
  color: salmon;
}

.main {
  background-color: #abb4f3;
}
